body{
  overflow: scroll;
}

.container{
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  font-family: sans-serif;
}

.images{
  width: 50%;
}

.img-hp{
  width: 450px;
}

.wrapper{
  width: 100%;
  margin-left: 50px; 
}

.card{
  background-color: white;
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  padding-right: 70px;
  margin-bottom: 20px;
}

.logo-ins{
  width: 60%;
  margin: 30px 0 0 50px;
}

input[type=text], select {
  width: 300px;
  margin: 40px 0 0 50px;
  padding: 15px;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 15px;
}

.login{
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #0095f6;
  margin: 30px 0 0 50px;
  padding: 9px 125px 9px 125px;
  border: 0px;
}

.card p{
  margin: 25px 0 25px 45px;
}

.login-fb{
  margin-left: 50px;
  text-decoration: none;
  font-size: medium;
}

.card pass{
  margin-left: 50px;
}

.sign-up{
  text-decoration: none;
}

.card-app{
  background-color: white;
  border-color: #f0f0f0;
  padding-right: 70px;
  margin-bottom: 20px;
}

.card-app p{
  text-align: center;
  margin-left: 20px;
}

.img-app{
  margin-left: 28px;
}

.app-store{
  width: 150px;
}

.google-play{
  width: 170px;
}

.footer {
  margin-top: 50px;
  text-align: center;
}

.footer-1 li{
  color: darkgray;
  display: inline;
  padding: 10px;
}

.footer-2 li{
  display: inline;
  color: darkgray;
  padding: 10px;
}

.footer-3{
  color: darkgray;
}

.dropbtn {
  color: darkgray;
  padding: 15px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: darkgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}


