/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@font-face {
  font-family: "Righteous";
  src: url("../fonts/BalooChettan-Regular.ttf");
  src: url("../fonts/BalooChettan-Regular.ttf");
}

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

.paddind_bottom_0 {
  padding-bottom: 0 !important;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.navbar-form input {
  border: none !important;
}

.badge {
  font-weight: 500;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}

.padding_0 {
  padding: 0px;
}

/* banner section start */

.banner_section {
  width: 100%;
  float: left;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.banner_taital {
  width: 100%;
  margin: 0 auto;
  font-size: 100px;
  color: #000;
  line-height: 90px;
  padding-top: 20px;
  font-family: "Great Vibes", cursive;
}

.banner_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #000;
  margin: 20px 0px;
}

.read_bt {
  width: 170px;
  float: left;
  padding-top: 30px;
}

.read_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #252525;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  text-transform: uppercase;
}

.read_bt a:hover {
  color: #ffffff;
  background-color: #f5ddb6;
}

/* banner section end */

/* product section start */

.product_section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}

.product_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #232322;
  font-weight: bold;
}

.product_section_2 {
  width: 100%;
  float: left;
  padding-top: 30px;
}

.product_box {
  width: 100%;
  background-color: #ffffff;
  height: auto;
  border: 1px solid #dadad5;
  padding: 20px 0px 0px 0px;
  margin-top: 30px;
}

.bursh_text {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #1a1c1b;
  font-weight: 600;
}

.image_1 {
  width: 200px;
  text-align: center;
  height: max-content;
  margin: 0 2rem 1rem 2rem;
  border-radius: 5%;
}

.btn_main {
  width: 100%;
  display: flex;
  background-color: #1a1c1b;
  height: auto;
  padding: 20px 10px 13px 10px;
}

.buy_bt {
  float: left;
  width: 100%;
}

.buy_bt ul {
  margin: 0px;
  padding: 0px;
}

.buy_bt li a {
  float: left;
  font-size: 12px;
  color: #252525;
  padding: 5px 10px;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-right: 5px;
  border-radius: 10px;
}

.buy_bt li a:hover {
  background-color: #f5ddb6;
  color: #ffffff;
}

.price_text {
  font-size: 16px;
  color: #fefefd;
  width: 20%;
  padding-top: 5px;
  text-align: right;
}

.seemore_bt {
  width: 170px;
  margin: 0 auto;
  padding-top: 60px;
}

.seemore_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #252525;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.seemore_bt a:hover {
  color: #ffffff;
  background-color: #f5ddb6;
}

/* product section end */

/* about section start */

.about_section {
  width: 100%;
  float: left;
  background-color: #fef4ec;
  height: auto;
  padding-bottom: 90px;
}

.about_section_main {
  width: 100%;
  float: left;
}

.about_taital_main {
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-left: 100px;
}

.about_taital {
  width: 100%;
  float: left;
  font-size: 44px;
  color: #252525;
  font-weight: bold;
  text-transform: uppercase;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 14px;
  color: #252525;
  margin: 0px;
}

.image_3 {
  width: 100%;
  float: left;
  height: 430px;
}

.readmore_bt {
  width: 170px;
  float: left;
  padding-top: 30px;
}

.readmore_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #363636;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.readmore_bt a:hover {
  color: #50504f;
  background-color: #ffffff;
}

/* about section end */

/* footer section start */

.footer_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
  background-size: 100%;
  padding-bottom: 30px;
}

.footer_logo {
  width: 100%;
  float: left;
  text-align: center;
  display: none;
}

.footer_logo_1 {
  width: 100%;
  float: left;
  text-align: center;
}

.footer_logo_1 p {
  font-size: 20rem;
  color: white;
}

.address_bt {
  width: 100%;
  float: left;
}

.address_bt ul {
  margin: 0px;
  padding: 0px;
}

.address_bt li {
  font-size: 16px;
  color: #ffffff;
  padding: 10px 0px 0px 0px;
}

.address_bt li a {
  color: #ffffff;
}

.address_bt li a:hover {
  color: #f5ddb6;
}

.padding_left10 {
  padding-left: 10px;
}

.address_text {
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.dummy_text {
  width: 100%;
  float: left;
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
  text-align: center;
  padding-top: 20px;
}

.ipsum_text {
  width: 65%;
  float: left;
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
  padding-top: 10px;
}

.main {
  width: 54%;
  float: right;
}

.social_icon {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  border-bottom: 1px solid #f5ddb6;
  padding-bottom: 30px;
}

.social_icon ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-align: center;
}

.social_icon li {
  float: left;
  font-size: 26px;
  color: #f5ddb6;
  padding: 10px;
}

.social_icon li a {
  color: #f5ddb6;
}

.social_icon li a:hover {
  color: #ffffff;
}

/* footer section end */

.copyright_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
}

.copyright_text {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin: 20px 0px;
}

.copyright_text a {
  color: #ffffff;
}

.copyright_text a:hover {
  color: #f5ddb6;
}

.margin_top90 {
  margin-top: 90px;
}
