@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container{
    background-image: url(bg-hero.png);
    font-family: 'Poppins', sans-serif;
}

.wrap-navbar{
    margin: 10px 0 20px 0;
}


.content{
    padding: 50px;
}

.content p{
    padding-right: 70px;
    text-align: justify;
}

.wrapper-cont{
    display: flex;
    margin-top: 90px;
}

.numberCircle {
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color:white;
    font-weight: bold;
    background-color: blue;
}

.wrapper-cont img{
    margin: -150px 0 0 120px;
}

.card{
    width: 35%;
    margin-top: -90px;
    margin-left: 720px;
    text-align: justify;
    font-size: 15px;
}

.button{
    margin-top: 40px;
}

.button p{
    margin-top: 30px;
    font-size: 20px;
    
}

