* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}

/* Navbar */
#navbar {
  background-color: blue;
  padding: 1rem 5rem 1rem 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#navbar .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

#navbar .navbar-brand span {
  font-style: italic;
}

#navbarSupportedContent ul {
  margin-left: 20%;
}

#navbarSupportedContent ul .nav-item a {
  color: white;
}

#navbarSupportedContent ul .nav-item a:hover {
  color: black;
}

.dropdown-menu .dropdown-item {
  color: black;
}

#navbarSupportedContent .d-flex {
  margin-left: 20%;
}

#navbarSupportedContent .d-flex a {
  color: white;
  margin: 1rem;
}

#navbarSupportedContent .d-flex :hover {
  color: black;
}
